html,body {
    font-family: arial;
/*Tout le texte qui appartient au "body" s'affichera de la police de caractère arial */
    margin: 0;
/*Afin de ne pas utiliser les paramètres par défaut,nous indiquons nous-mêmes aux différents navigateurs d'afficher une marge 0px)*/
    padding: 0;
/*Afin de ne pas utiliser les paramètres par défaut,nous indiquons nous-mêmes aux différents navigateurs d'afficher une marge 0px)*/
}

h1 {
    display: none;
/*Selon la directive, il n'y en a pas, mais j'ai ajouté un H1 pour que le W3c HTML ne m'indique pas qu'il n'y a aucun "heading" manquant*/
}

h2 {
    font-family: Georgia;
/*Tous les titres ayant une balise en tant que H2 s'affichera à la police de caractère "Gerogia"*/
    font-size: 30px;
/*Tous les titres ayant une balise en tant que H2 s'affichera à une taille de texte de 30px qui ressemblera à la couleur noire*/
    color: #333;
/*tous les titres ayant une balise en tant que H2 s'affichera à la couleur */
    font-weight: 400;
/*Tous les titres ayant une balise en tant que H2 s'affichera d'une graisse normale*/
    text-transform: capitalize;
/*Les caractères de la balise H2 s'afficheront en majuscules si je compare à l'image du résultat, sinon selon la directive serait "Lowercase"*/
    padding-left: 20px;
/* Tous les textes ayant une balise H2 seront situés d'une distance de 20px à partir de la marge gauche de la division*/
    padding-top: 20px;
/* Tous les textes ayant une balise H2 seront situés d'une distance de 20px à partir du haut de la division*/
}

h3 {
    display: none;
/*Selon la directive, il n'y en a pas, mais j'ai ajouté un H3 pour que le W3c HTML ne m'indique pas qu'il n'y a aucun "heading" manquant*/
}

p {
    text-justify: auto;
/*Tous les paragraphes auront une un texte justifié*/
    margin-bottom: 35px;
/*Tous les paragraphes auront une marge inférieure de 35px à l'intérieur d'une division qui sera affichée dans les sections respectives*/
    padding-left: 20px;
}

.container {
/*C'est une boite de division de la première section de la page */
    background-image: url(../img/bg_section1.jpg);
/*L'image qui s'affichera en tant qu'une image de fond de la première section de la page */
    height: 800px;
/*La hauteur de l'image de fond qui s'affichera de la première section de la page */
    background-repeat: no-repeat;
/*L'image de fond ne se répètera pas sur l'affichage de la première section de la page */
    background-size: cover;
/*L'image de fond de la première section s'affichera sur la totalité de l'écran sans prendre compte la résolution de l'écran */
    -moz-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur FIREFOX */
    -o-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur SAFARI */
    -webkit-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur IE8 et+ */
}

div#wrapperHeader {
    text-align: center;
/* Le LOGO de l'entreprise sera positionné au centre de la division de nomment wrapperHeader(prendre note que le logo est affiché à partir du fichier index.html pour évité que l'internaute n'appaçoit pas correctement le logo dû au navigateur qui n'identifie correctement le fichier css)*/
}

div#wrapperHeader div#logo img {
/* Le LOGO de l'entreprise sera positionné à 250px dans le bas de la division de la première section(prendre note quele logo est afficher à partir du fichier index.html pour évité que l'internaute n'appaçoit pas correctement le logo dû au navigateur qui n'identifie correctement le fichier css) */
    margin-top: 250px;
/*Le logo est positionné à 250px à partir du haut de la première section à l'intérieur des divisions wrapperHeader et logo'*/
}

.mid {
/*C'est une boite de division de la deuxième section de la page */
    background-image: url(../img/bg_section2.jpg);
/*L'image qui s'affichera en tant qu'une image de fond de la première section de la page */
    height: 700px;
/*La hauteur de l'image de fond qui s'affichera de la deuxième section de la page */
    background-repeat: no-repeat;
/*L'image de fond ne se répètera pas sur l'affichage de la première section de la page */
    background-size: cover;
/*L'image de fond de la deuxième section s'affichera sur la totalité de l'écran sans prendre compte la résolution de l'écran */
    -moz-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur FIREFOX */
    -o-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur SAFARI */
    -webkit-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur IE8 et+ */
    padding: 30px 40px;
}

.footer {
/*C'est un boite de division de la troisième section de la page */
    background-image: url(../img/bg_section3.jpg);
/*L'image qui s'affichera en tant qu'une image de fond de la première section de la page */
    height: 800px;
/*La hauteur de l'image de fond qui s'affichera de la troisième section de la page */
    background-repeat: no-repeat;
/*L'image de fond ne se répètera pas sur l'affichage de la première section de la page */
    background-size: cover;
/*L'image de fond de la troisième section s'affichera sur la totalité de l'écran sans prendre compte la résolution de l'écran */
    -moz-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur FIREFOX */
    -o-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur SAFARI */
    -webkit-background-size: cover;
/*L'image de fond de la troisième section s'affichera adéquatement sur le navigateur IE8 et+ */
    padding: 30px 40px;
}

#boiteTexte {
    position: relative;
    float: right;
/*Les icônes des médias sociaux seront alignées verticalement de la première section à l'intérieur de la division container'  */
    margin-right: 20px;
/* Les icônes des médias sociaux s'afficheront à une distance de 20 px à gauche de la marge de la première section de la page*/
    padding: 20px;
/*Les icônes des médias sociaux s'afficheront à une distance de 20px à gauche et à l'intérieur de la marge de la première section de la page*/
}

#reseaux_sociaux {
/*L'id des icônes représentants les médias sociaux*/
    position: fixed;
/*Les icônes resteront à la même position dans les sections lorsque l'internaute consultera toutes les sections de la page*/
    letter-spacing: 5px;
/* Un espacement de 5px seront effectués entre les icônes */
    top: 20px;
/* La première icône des médias sociaux s'affichera à une distance de 20px vers le bas de la première section de la page*/
}

.boiteTexte {
    background-color: rgba(255,255,255,0.6);
/*La couleur de fond de la division boiteTexte sera blanche ayant d'une opacité de 60%*/
    width: 680px;
/*La division boiteTexte aura une largeur de 680 px à l'intérieur de la première section*/
    margin: 30px 40px;
/*La division boiteTexte aura une marge supérieure et inférieure de 30px, les marges latérales seront de 40px à l'intérieur de la première section*/
    padding-bottom: 2em;
/*La division de la boiteTexte de la deuxième section et la troisième seront situés d'une distance de 20 px à partir de la marge inférieure*/
}

.bouton-section {
    background-image: url(../img/flecheD.png);
/*L'image représentant une flèche qui est situé les boutons pour indiquer aux internautes une suite au texte*/
    background-repeat: no-repeat;
/*L'image de la flèche ne se répètera pas sur l'affichage des boutons */
    background-color: #ff1717;
/*L'image de fond sera afficher de couleur qui ressemblera à un rouge */
    background-position: right center;
    text-decoration: none;
    margin-left: 20px;
    padding: 15px 50px 15px 15px;
}

.bouton-section:hover {
    color: #ff7171;
/*Lorsque l'usager survolera la boite du bouton en utilisant le pointeur avec sa souris sur la zone du bouton "CONTINUEZ À LIRE" et "EN SAVOIR PLUS", la couleur des textes changeront automatiquement pour orange-beige(blanc vers la couleur orange-beige) et ce, jusqu’à tant que l'usager déplace son curseur en utilisant la souris pointant à l'extérieur du bouton*/
}

a {
    color: #fff;
/*Le texte de tous les hyperliens restaura de couleur blanche même si l'internaute ayant visité cet hyperlien */
}

#slogan {
    font-size: 50px;
    color: #f3ebd9;
/*La couleur du texte de la division slogan de la troisième section sera blanc-beige */
    margin-bottom: 100px;
/*La marge inférieure de la division slogan de la troisième section sera de 50px */
    padding-left: 20px;
/* Le texte du slogan WE DESIGN! sera d'une distance de 20 px à partir de l'intérieur de la troisième section*/
}

table,td,th {
    color: #999;
/*Tout le texte du tableau sera constitué de couleur gris pâle*/
    margin: 20px;
/*Le tableau aura une marge supérieure et inférieure de 20 px*/
    text-align: center;
/*Les textes du tableau seront centrés à l'intérieur des cellules*/
    border: 1px solid;
/*Chacune des cellules ont une bordure externe de 1px*/
    border-spacing: 10px 15px;
/*espacement horizontal de 10px et espacement vertical de 15px*/
    border-collapse: collapse;
/* Fusion des cellules à l'intérieur du tableau*/
}

#device {
/*L'image représentant les appareils mobiles et de bureau*/
    padding-left: 20px;
/*L'image des supports mobiles seront situés d'une distance de 20px à partir de la marge gauche de la division de la classe nommée boiteTexte à l'intérieur de la troisième section*/
}

#css_logo {
    margin-top: 95px;
    direction: rtl;
}